<header>
  <h1>{{ .Title }}</h1>
  <div>
    <ul>
      {{ if not .IsHome }}
        <li>
          <a href="{{ site.Home.RelPermalink }}">{{ site.Home.LinkTitle }}</a>
        </li>
      {{ end }}
      {{ range site.Taxonomies.categories }}
        <li>
          <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
        </li>
      {{ end }}
      {{ with site.GetPage "about" }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</header>
